html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #142d4c;
    color: #ececec;
}

header {
    text-align: center;
    color: #385170;
}

body {
    max-width: 800px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 2em;
    font: inherit;
    margin: 0;
}

.search-form input {
    display: block;
    font-size: 2em;
    margin-block-start: 0.58em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: inherit;
    color: inherit;
    margin-left: 5px;
    max-width: 250px;
}

.search-form input:focus {
    outline: none;
}

.tag {
    display: flex;
    justify-content: center;
}


.tile-container {
    max-width: 700px;
    margin: 0 auto;
}

.tile-current {
    cursor: default;
    text-align: center;
    color: #9fd3c7;
    background-color: #385170;
    border: 1px solid #ececec;
    border-radius: 4px;
}

.tile-day-container {
    display: flex;
    justify-content: space-around;
}

.tile-day {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ececec;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
}


