html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #142d4c;
    color: #ececec;
}

header {
    text-align: center;
    color: #385170;
}

.search {
    text-align: center;
    margin: 0 auto;
    max-width: 85%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #385170;
    border-radius: 4px;
    background-color: #142d4c;
    color: #9fd3c7;
    max-width: 85%;
}

.current {
    text-align: center;
    background-color: #385170;
    color: #9fd3c7;
    border: 1px solid #ececec;
    cursor: default;
    padding: 6px 12px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    max-width: 85%;
}

.tag {
    text-align: center;
}